.sign-in-page {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 50px;
  border-radius: 50px;
}